@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: 'Montserrat', sans serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}

.imagen{
    height: 500px;
    width: 400px;
    border-radius: 2%;
}

.presentacion {
    padding: 5.5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}


.titulo-destaque {
    color: #22D4FD; ;
}
.presentacion__contenido__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-right: 10px;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces_subtitulo{
    font-family: 'Krone One', sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    border: 2PX solid #22D4FD;
}

.presentacion__enlaces__link:hover{
    background-color: #272727; 
}

.footer {
    background-color: #22D4FD;
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.destaque__nombre{
    font-weight: bold;
}

